/* Import fonts styles from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
} 

main {
  background-color: #2F0C17;
  overflow: hidden;
  will-change: transform;
  height: 100vh;
  width: 100%;
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

/* Clear floats after image containers */
main::after {
  content: "";
  clear: both;
  display: table;
}

.social-media {
  float: right;
  display: block;
}

/* Remove the dots for the social list */
.social-media ul li {
  list-style-type: none;
}

.social-media ul li > a {
  padding-right: 20px;
}

.main-text ul {
  padding-left: 45px;
}

.main-text h2 {
  padding-top: 40px;
  padding-left: 45px;
  font-family: 'Shadows Into Light', cursive;
  color: white;
}

.main-text ul li {
  padding-top: 15px;
  list-style-type: none;
}

.main-text ul li > a {
  padding: 5px;
  margin: 55px 1px; 
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  text-decoration: none;
  color: white;
}

/* Everytime you place the mouse on any list option */
.main-text ul li > a:hover {
  text-decoration: none;
  /* font-size: 32px; */
  color: #A20201;
}

/* Place Rest on right side */
.main-text{
  float: left;
  width: 33.33%;
}

/* Setting logo's size */
.main-text img{
  margin-top: 50px; 
  margin-bottom: 50px; 
  padding-left: 23px;
  width: 85%;
  height: 60%;
}

/* Placing photo on left */
.main-image {
  float: left;
  width: 33.33%;
}

.row {
  display: grid;
}

.row .menu-header img{
  float: left;
  margin-top: 50px;
  margin-bottom: 50px; 
  padding-left: 23px;
  width: 30%;
  height: 45%;
}

.menu-header .menu-title {
  padding-left: 260px;
  height: 30vh;
  width: 80%;
}

.menu-header .menu-title > div {
  display: inline;
  color: white;
  list-style-type: none;
  font-family: 'Shadows Into Light', cursive;

}

.menu-header .menu-title div > h1{
  /* float: left; */
  width: 25%;
  height: 20%;
  color: white;
  list-style-type: none;
  font-family: 'Shadows Into Light', cursive;
  text-align: center !important;
  font-size: 76px;
  padding-left: 50%;
  margin-top: 30px; 
  margin-bottom: 50px; 
}

.menu-header h1 > span{
  color: #A20201;
}

.menu-header .menu-title div > p{
  /* float: left; */
  color: white;
  width: 100%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 15px;
  padding-top: 20px;
  padding-left: 20%;
  text-align: center;
}

.row div > img {
  width: 24.6%;
  height: 50%;
  overflow: hidden;
  display: inline-block;
}

.menu-description {
  background-color: #2F0C17;
  overflow: hidden;
  will-change: transform;
  height: 100vh;
  width: 100%;
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

/* Clear floats after image containers */
.menu-description::after {
  /* content: ""; */
  /* clear: both; */
  /* display: inline-block; */
}

.menu-description .list {
  /* float: left;
 */
 padding: 40px;
 display: inline-block;
 width: 40%;
 margin-bottom: 20px;
}

.menu-description .list > h2 {
  color: #A20201;
  width: 100%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 55px;
  /* padding-top: 20px; */
  /* padding-left: 20%; */
  text-align: center;

}

.menu-description .list ul > li {
  color: white;
  list-style-type: none;
  width: 100%;
  /* font-size: 5px; */
  padding-top: 15px;
  /* padding-left: 20%; */
  /* text-align: center; */
  /* margin-bottom: 20px; */

}

.menu-description .image {
  display: inline;
  width: 60%;
}

section {
  width: 100%;
  background-color: #2F0C17;
  height: 150vh;
}

.reservation {
  background-color: #2F0C17;
  overflow: hidden;
  will-change: transform;
  height: 100vh;
  width: 100%;
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

/* Clear floats after image containers */
.reservation::after {
  content: "";
  clear: both;
  display: table;
}